@import "layout.css";


/*club table header rules*/
#table_head{
    /*border: 1px solid rgb(130 130 130);*/

    border-bottom: 1px solid rgb(130 130 130);
    border-top: 1px solid rgb(130 130 130);
    background-color: #F5F5F5;
}
#checkButton, #club_col_header, #city_col_header, #manager_col_header,#chairman_col_header,
#established_col_header, #createdBy_col_header, #modifiedBy_col_header, #dateCreated_col_header, #dateModified_col_header{
    text-align: center;
}

#page_title{
    padding: 10px 0 5px 0;
    margin:  0 0 20px 0;
}

/**
Pop up design rule
 */

#openPopup {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#openPopup:hover {
    background-color: #0056b3;
}

/* Styles for the overlay */
#overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

/* Styles for the popup */
#popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*positions the form to the center of the screen*/
    width: 500px;
    background-color: white;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    padding: 20px;
}

#popup p {
    margin: 20px 0;
    font-size: 18px;
    color: #333;
}

#popup button {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#yesButton {
    background-color: #28a745;
    color: white;
}

#yesButton:hover {
    background-color: #218838;
}

#noButton {
    background-color: #dc3545;
    color: white;
}

#noButton:hover {
    background-color: #c82333;
}

/**
table design rule
 */
#table_container{
    padding: 0 15px 10px 0;

}
#teams_table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
}


td {
    padding: 4px;
    /*text-align: left;*/
    border-bottom: 1px solid #ddd;
}

/* table head design rule*/
th{
    text-align: end;
    font-size: 1.1em;
    padding: 10px;
    margin: 50px;
    font-weight: bold;
    background-color: #f2f2f2;
    /*-webkit-font-smoothing: antialiased;*/
}
#createReportSubmit{
    margin: 10px;
    color: white;
    background-color: green;
}
#deleteTeam{
    margin: 10px;
    color: white;
    background-color: red;
}
tr{
    font-size: 0.85em;
    /*font-weight: lighter;*/
    color: #000000;
}
#createReportForm{
    display: flex;

}
/* table row hover rule*/
tr:hover {
    background-color: #ddd;
}

/*ul{*/
/*    display: flex;*/
/*    align-content: start;*/
/*    !*align-items: start;*!*/
/*}*/



